.v-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  user-select: none;

  &__background {
    position: absolute;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
  }

  &__wrapper {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &__hovered {
    position: absolute;
    border: 1px solid #6CCFFF;
    z-index: 2;
    pointer-events: none;
  }

  &__element-controller {
    z-index: 5;
  }
}