.v-resizable {
  position: relative;
  box-sizing: border-box;
  touch-action: none;

  &__wrapper {
    position: relative;
  }

  &--outlined:not(.v-resizable--disabled):before {
    content: "";
    box-sizing: initial;
    border: 2px solid #6CCFFF;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: -2px 0 0 -2px;
  }

  &--activated:not(.v-resizable--disabled):before {
    border-width: 1px;
    border-color: rgba(108, 207, 255, .3);
    margin: -1px 0 0 -1px;
  }

  &__handle {
    position: absolute;
    z-index: 5;
    transition: opacity .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;

    &--hide {
      opacity: 0;
    }

    &--point {
      box-sizing: border-box;
      display: block;
      background: #FFF;
      border: 1px solid #C0C5CF;
      box-shadow: 0 0 2px 0 rgba(86, 90, 98, .2);
      border-radius: 6px;
    }

    &--t, &--b {
      transform: translate(0, -50%);
    }

    &--tl, &--tr, &--bl, &--br {
      transform: translate(-50%, -50%);
    }

    &--l, &--r {
      transform: translate(-50%, 0);
    }

    &--t {
      top: 0;
      left: 0;
      right: 0;
    }

    &--tl {
      top: 0;
      left: 0;
    }

    &--l {
      left: 0;
      top: 0;
      bottom: 0;
    }

    &--bl {
      top: 100%;
      left: 0;
    }

    &--b {
      top: 100%;
      left: 0;
      right: 0;
    }

    &--tr {
      top: 0;
      left: 100%;
    }

    &--r {
      left: 100%;
      top: 0;
      bottom: 0;
    }

    &--br {
      left: 100%;
      top: 100%;
    }

    &--r,
    &--l {
      .v-resizable__handle--point {
        height: 16px;
        width: 7px;
      }
      .v-resizable__handle--line {
        width: 4px;
        height: 100%;
      }
    }

    &--t,
    &--b {
      .v-resizable__handle--point {
        width: 16px;
        height: 7px;
      }
      .v-resizable__handle--line {
        width: 100%;
        height: 4px;
      }
    }

    &--bl,
    &--tl,
    &--tr,
    &--br {
      .v-resizable__handle--point {
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
      .v-resizable__handle--line {
        width: 8px;
        height: 8px;
      }
    }
  }
}

